-f https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.3.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
soundfile 
omegaconf 
audioread
requests
dtwalign
eng_to_ipa
pandas
flask
flask_cors
pickle-mixin
transformers
sentencepiece==0.1.99
transformers
chardet
numpy==1.26.4
phonemizer==3.2.1
gradio_client 
python-dotenv 
groq
flask-swagger-ui
boto3==1.34.23
sequence_align
gTTS
pydub
noisereduce
librosa
scipy